@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'config';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  background: $background;
  color: $white;
}

#root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

input:focus-within {
  border-bottom: 1px solid $iconNavLinks;
}

.icon-nav:hover {
  fill: $iconNavLinks;
  transition: fill 300ms ease-in-out;
}

a.active svg.icon-nav {
  fill: $white;
}

.trending-movies-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.movies-container {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 976px) {
  .trending-movies-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }

  .movies-container {
    grid-template-columns: repeat(3, 1fr);

    & > :nth-child(4) {
      grid-column: 1/3;
    }

    & > :last-child {
      grid-column: 2/4;
      grid-row-start: 3;
    }
  }
}
